site_name: ThinkDeploy Blog
site_description: "Ideas for managing Lenovo devices in the corporate environment."
site_url: https://blog.lenovocdrt.com/

theme:
  name: material
  logo: img/CDRT-REV-Red_s.png
  favicon: img/fav/favicon.ico
  features:
    - navigation.tracking
    - navigation.instant
    - navigation.instant.progress
    - navigation.expand
    - navigation.path
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.select
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: blue
      accent: light blue
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: black
      accent: blue grey
nav:
  - About: about.md
  - RSS: feed.xml

plugins:
  - search
  - open-in-new-tab
  - blog:
      blog_dir: .
      post_url_format: "/{slug}"
      archive_date_format: yyyy
      categories: false
      authors: true

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: "#"

extra:
  analytics:
    provider: google
    property: G-288025816
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences such as light and dark mode, as well as to measure anonymous usage data to determine effectiveness of our documentation and whether users find what they're searching for. With your consent, you're helping us to make our documentation better.
    actions:
      - accept
      - reject

copyright: |
  &copy; 2025 <a href="https://blog.lenovocdrt.com"  target="_blank" rel="noopener">Lenovo Commercial Deployment Readiness Team</a><br><a href="#__consent" style="text-decoration:underline;">Change cookie settings</a>

extra_css :
  - stylesheets/extra.css
